在 [数据生成之道](01-数据生成之道.ipynb) 中，我们学会了如何去读取 csv 文件、拼接两个DataFrame、关联两个DataFrame，在这个练习题里，我们来扩展下我们的武（技）器（能）库（包）。

- 在拼接 ratings_1 和 ratings 这两个 DataFrame 时，除了使用 `append` 方法，还有其他的办法么？
- 在关联生成电影信息时，除了使用 `merge` 这办法外，还有其他的办法么？

In [1]:
import pandas as pd
import numpy as np

## 读取原始数据

In [2]:
ratings_1 = pd.read_csv("../data/ml-latest-small/ratings_1.csv")
ratings_2 = pd.read_csv("../data/ml-latest-small/ratings_2.csv")
movies = pd.read_csv("../data/ml-latest-small/movies.csv")
links = pd.read_csv("../data/ml-latest-small/links.csv")

## 拼接DataFrame

除了可以使用 `append` 方法来拼接两个DataFrame之外，我们还可以使用 pandas 的 `concat` 方法来实现两个 DataFrame 的拼接。

In [3]:
ratings = pd.concat(objs=[ratings_1, ratings_2], ignore_index=True)
ratings.shape

(100004, 4)

In [4]:
ratings.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

## 关联DataFrame

关联两个 DataFrame 时，除了可以使用 `merge` 方法外，还可以使用 `join` 这方法来完成，默认情况下，`join` 会使用索引作为拼接的依据。

In [5]:
movies.set_index("movieId").join(links.set_index("movieId"), how="inner").head(5)

,title,genres,imdbId,tmdbId
movieId,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709.0,862.0
2,Jumanji (1995),Adventure|Children|Fantasy,113497.0,8844.0
3,Grumpier Old Men (1995),Comedy|Romance,113228.0,NaN
4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885.0,31357.0
5,Father of the Bride Part II (1995),Comedy,113041.0,11862.0

当然了，也可以通过参数 `on` 来指定关联时依赖的字段。

In [6]:
movies.join(links.set_index("movieId"), how="inner", on="movieId").head(5)

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709.0,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497.0,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228.0,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885.0,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041.0,11862.0