在 [修炼筛选基本功](02-修炼筛选基本功.ipynb) 中，我们学会了如何按照行、列、行列、布尔条件进行筛选数据，这里我们来做一些练习。

- 每隔5行数据进行筛选一次
- 将数据进行反转（第一行变为倒数第一行，第二行变为倒数第二行...）
- 筛选出用户、评分时间这两列数据
- 筛选出第1行的用户、评分时间这两列数据
- 筛选id为19用户对id为50、52的电影的评分

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("../data/ml-latest-small/user_for_movie_ratings_summary.csv", encoding="gbk")
data.head()

,userId,movieId,rating,timestamp,title,genres,imdbId,tmdbId
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,112792.0,9909.0
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,33563.0,11360.0
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,117665.0,819.0
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,82340.0,1103.0
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,95765.0,11216.0

## 每隔5行数据进行筛选一次

In [2]:
data[::6].head()

,userId,movieId,rating,timestamp,title,genres,imdbId,tmdbId
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,112792.0,9909.0
6,1,1287,2.0,1260759187,Ben-Hur (1959),Action|Adventure|Drama,52618.0,665.0
12,1,1953,4.0,1260759191,"French Connection, The (1971)",Action|Crime|Thriller,67116.0,1051.0
18,1,2968,1.0,1260759200,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi,81633.0,36819.0
24,2,50,4.0,835355586,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,114814.0,629.0

## 将数据进行反转

In [3]:
data[::-1].head()

,userId,movieId,rating,timestamp,title,genres,imdbId,tmdbId
100003,671,6565,3.5,1074784724,Seabiscuit (2003),Drama,329575.0,4464.0
100002,671,6385,2.5,1070979663,Whale Rider (2002),Drama,298228.0,1088.0
100001,671,6365,4.0,1070940363,"Matrix Reloaded, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX,234215.0,604.0
100000,671,6269,4.0,1065149201,Stevie (2002),Documentary,334416.0,51927.0
99999,671,6268,2.5,1065579370,Raising Victor Vargas (2002),Comedy|Drama|Romance,316188.0,25461.0

## 筛选出用户、评分时间这两列数据

In [4]:
data[["userId", "timestamp"]].head()

   userId   timestamp
0       1  1260759144
1       1  1260759179
2       1  1260759182
3       1  1260759185
4       1  1260759205

## 筛选出第1行的用户、评分时间这两列数据

In [5]:
data.loc[1, ["userId", "timestamp"]]

userId                1
timestamp    1260759179
Name: 1, dtype: object

## 筛选id为19用户对id为50、52的电影的评分

In [6]:
data[(data.userId == 19) & (data.movieId.isin([50, 52]))]

,userId,movieId,rating,timestamp,title,genres,imdbId,tmdbId
3130,19,50,4.0,855192835,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,114814.0,629.0
3131,19,52,3.0,855190167,Mighty Aphrodite (1995),Comedy|Drama|Romance,113819.0,11448.0